html, body {
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;

}


.flex-row {
  display: flex;
  height: 100%;
}
#canvas-container {
  flex-grow: 1;
  overflow: hidden;
}
